{% extends 'basket_base.html' %}

{% block basket_dynamic %}

{% macro render_item(item, show_amount = False, show_form = False) %}

<div class="menu card mb-3">
    <div class="card-body">
        <h5 class="card-title">{{ item['dish_name'] }}</h5>
        <p class="card-text">
            <strong>{{ item['dish_price'] }} р/{{ item['dish_weight'] }}</strong>
        </p>
        {% if show_form %}
        <form method="POST" action="">
            <input type="hidden" name="dish_display" value="{{ item['iddish'] }}" />
            <button type="submit" class="btn btn-success" value="Купить" name="buy">Купить</button>
        </form>
        {% endif %}
        {% if show_amount %}
        <p class="mt-3">Количество: <strong>{{ item['amount'] }}</strong></p>
        <form method="POST" action="" class="d-flex gap-2">
            <input type="hidden" name="dish_display" value="{{ item['iddish'] }}" />
            <button type="submit" name="dish_reduce" value="minus" class="btn btn-outline-danger">-</button>
            <button type="submit" name="dish_increase" value="plus" class="btn btn-outline-success">+</button>
        </form>
        {% endif %}
    </div>
</div>


{% endmacro %}

{% if role == 'manager' %}
    <a href="{{url_for('bp_dish_list.complete_order')}}">Доплат производить не нужно</a>
    <a href="{{url_for('bp_dish_list.save_order', role=role)}}">Добавить позиции для доплаты</a>
{% else %}
    <a href="{{url_for('bp_dish_list.save_order', role=role)}}">Сделать заказ</a>
{% endif %}


<div class="container">
    {% if message %}
        <div class="message" style="color: red;">
            {{ message }}
        </div>
    {% endif %}

    <div class="row">
        <div class="col-md-8">
            <h2>Меню ресторана</h2><br>
            {% if dishes %}
            {% for dish in dishes %}
                {{ render_item(dish, show_form = True, show_amount = False) }}
            {% endfor %}
            {% else %}
            <span>Меню пусто</span>
            {% endif %}
        </div>

        <div class="col-md-4">
            <div class="card-header bg-primary text-white">
                <h4>Корзина</h4>
            </div>
            <div class="card-body">
                {% if basket %}
                    {% for item in basket %}
                        {{ render_item(item, show_form = False, show_amount = True) }}
                    {% endfor %}
                    <p class="mt-3">Сумма к оплате: <strong>{{ basket_price }} р</strong></p>
                    <a href="{{ url_for('bp_dish_list.clear_basket') }}" class="btn btn-danger">Очистить корзину</a>
                {% else %}
                    <p>Ваша корзина пуста</p>
                {% endif %}
            </div>
        </div>

    </div>

</div>

{% endblock %}