<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <title>Dish list page</title>
    <link href="../static/main.css" rel="stylesheet" type="text/css">
    <link href="../static/make_order.css" rel="stylesheet" type="text/css">
</head>
<body>
    <h1 align="center">Меню ресторана</h1>
    {% if render_data['status'] %}
        <form method="POST" action="/update_portions" align="center">
            <table border="1" align="center" style="width: 50%; text-align: left;">
                <thead>
                    <tr>
                        <th>Название блюда</th>
                        <th>Цена (₽)</th>
                        <th>Вес (г)</th>
                        <th>Порции</th>
                    </tr>
                </thead>
                <tbody>
                    {% for name, price, weight in render_data['data'] %}
                        <tr>
                            <td>{{ name }}</td>
                            <td>{{ price }}</td>
                            <td>{{ weight }}</td>
                            <td>
                                <button type="submit" name="dish" value="{{ loop.index0 }}">
                                    Добавить в заказ
                                </button>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </form>
    {% else %}
        <p align="center">Меню пусто.</p>
    {% endif %}
    <a class="btn btn-success" href="/">Вернуться в меню</a><br><br>
    <a class="btn btn-primary" href="/exit">Выйти из системы</a>
</body>
</html>