{% extends 'query_base.html' %}

{% block order_out %}

{% if render_data %}
<table class="orders-table">
    <thead>
    <tr class="title">
        <td>Позиция</td>
        <td>Количество</td>
        <td>Стоимость за 1 (рубли)</td>
        <td>Общая стоимость (рубли)</td>
    </tr>
    </thead>
    <tbody>
    {% set ns = namespace(sum_column=0) %}
    {% for line in render_data %}
        <tr>
            {% for column in line.values() %}
                <td>{{ column }}</td>
                {% if loop.index0 % 4 == 3 %}
                    {% set ns.sum_column = ns.sum_column + column|int %}
                {% endif %}
            {% endfor %}
        </tr>
    {% endfor %}
    </tbody>
</table>
<div class="success-message">
    Общая сумма банкета (рубли): {{ ns.sum_column }}
</div>
{% else %}
<div class="error-message">
    <h3>Данных не найдено.</h3>
</div>
{% endif %}
{% endblock %}