{% extends 'query_base.html' %}

{% block query_out %}
<style>
    table, td {
        border: 1px solid;
    }
</style>

{% if render_data %}
<table>
    {% if status_code == 1 %}
        {% if query_code == 1 %}
            <tr class="title">
                <td>Номер зала</td>
                <td>Зарезервированное время</td>
                <td>Ожидаемое количество человек</td>
            </tr>
            {% elif query_code == 2 %}
            <tr class="title">
                <td>Номер зала</td>
                <td>Стоимость заказа</td>
                <td>Зарезервированное время</td>
            </tr>
        {% endif %}
    {% elif status_code == 2 %}
        <tr class="title">
            <td>Название позиции</td>
            <td>Цена (рубли)</td>
            <td>Вес (граммы)</td>
        </tr>
    {% endif %}
    {% for line in render_data%}
    <tr>
        {% for column in line.values() %}
        <td> {{ column }} </td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>
{% else %}
{% if empty_code == 1%}
    <div class="error-message" style="color: red;">
        <h3>Номер зала не введен. Пустой запрос.</h3>
    </div>
{% else %}
<h1>Данных не найдено.</h1>
{% endif %}
{% endif %}

{% if status_code == 1 %}
{% if query_code in [1, 2] %}
<table>
    <br><a class="btn btn-success" href="{{ url_for('bp_query.form_render', query_code=query_code) }}">Посмотреть другой зал</a><br><br>
</table>
{% endif %}
{% endif %}
{% endblock %}