{% extends 'query_base.html' %}

{% block query_form_workload %}
<form action="" method="post">
    <!--<input type="text" name="product-name">
    <input type="submit" value="Send">-->
    {% if query_code == 1 %}
        <h3>Проверка загруженности залов на предстоящий месяц</h3>
    {% else %}
        <h3>Проверка доходности залов за прошедший месяц</h3>
    {% endif %}
    <label for="hall_id">Введите номер необходимого зала:</label><br>
    <input type="text" name="hall_id" id="hall_id"><br>
    <input type="submit" value="Показать"><br><br>
</form>
{% endblock %}