{% extends 'query_base.html' %}

{% block query_form_for_admin %}
<form action="" method="post">
    <!--<input type="text" name="product-name">
    <input type="submit" value="Send">-->
    {% if query_code == 1 %}
        <h3>Посмотреть загруженность залов на предстоящий месяц</h3><br>
        <label for="hall_choice">Номер зала:</label><br>
        <select class="select-custom" name="hall_choice">
            <option disabled selected>Выберите зал</option>
            {% for item in render_data %}
                <option value="{{ loop.index0 + 1 }}">{{ item }}</option>
            {% endfor %}
        </select><br><br>
    {% elif query_code == 2 %}
        <h3>Посмотрите заказы официанта</h3><br>
        <label for="manager_choice">Официант:</label><br>
        <select class="select-custom" name="manager_choice">
            <option disabled selected>Выберите официанта</option>
            {% for item in render_data %}
                <option value="{{ indexes[loop.index0] }}">{{ item }}</option>
            {% endfor %}
        </select><br><br>
    {% elif query_code == 3 %}
        <h3>Проверьте свободен ли зал в конкретную дату</h3><br>
        <label for="hall_choice">Номер зала:</label><br>
        <select class="select-custom" name="hall_choice">
            <option disabled selected>Выберите зал</option>
            {% for item in render_data %}
                <option value="{{ loop.index0 + 1 }}">{{ item }}</option>
            {% endfor %}
        </select><br><br>
        <div class="form-group">
            <label for="date">Выберите дату:</label>
            <input
                type="date"
                id="date"
                name="date"
                min="{{ min_date }}"
                max="{{ max_date }}"
                required>
        </div><br><br>
    {% endif %}
    <button type="submit" class="btn-custom btn-primary-custom">Показать</button><br><br>
</form>
{% endblock %}