{% extends 'query_base.html' %}

{% block query_out %}

{% if render_data %}
<table class="orders-table">
    <thead>
    {% if status_code == 1 %}
        {% if query_code == 1 %}
            <h2>Информация по залу № {{ obj }}</h2>
            <tr class="title">
                <td>Зарезервированное время</td>
                <td>Ожидаемое количество человек</td>
            </tr>
        {% elif query_code == 2 %}
            <h2>Информация по официанту c id: {{ obj }}</h2>
            <tr class="title">
                <td>Номер заказа</td>
                <td>Зарезервированное время</td>
                <td>Номер зала</td>
                <td>Статус заказа</td>
                <td>Телефон клиента</td>
            </tr>
        {% elif query_code == 3 %}
            <h2>Информация по залу № {{ obj }}</h2>
            <tr class="title">
                <td>Зарезервированное время</td>
                <td>Ожидаемое количество человек</td>
            </tr>
        {% endif %}
    {% elif status_code == 2 %}
        <tr class="title">
            <td>Название позиции</td>
            <td>Цена (рубли)</td>
            <td>Вес (граммы)</td>
        </tr>
    {% endif %}
    </thead>
    <tbody>
    {% for line in render_data%}
    <tr>
        {% for column in line.values() %}
        <td> {{ column }} </td>
        {% endfor %}
    </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
{% if empty_code == 1%}
    <div class="error-message" style="color: red;">
        <h3>Вы не указали данные</h3>
    </div>
{% else %}
{% if query_code == 1 %}
    <h1>Данный зал не предстоящий месяц свободен</h1>
{% elif query_code == 2 %}
    <h1>У данного менеджера нет предстоящих заказов</h1>
{% elif query_code == 3 %}
    <h1>На эту дату данный зал свободен</h1>
{% endif %}
{% endif %}
{% endif %}

{% if status_code == 1 %}
{% if query_code in [1, 3] %}
<table class="orders-table">
    <br><a class="btn btn-success" href="{{ url_for('bp_query.form_render', query_code=query_code) }}">Посмотреть другой зал</a><br><br>
</table>
{% else %}
<table class="orders-table">
    <br><a class="btn btn-success" href="{{ url_for('bp_query.form_render', query_code=query_code) }}">Посмотреть другого сотрудника</a><br><br>
</table>
{% endif %}
{% endif %}
{% endblock %}