{% extends 'orders_base.html' %}

{% block nav_items %}
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('bp_order_make.order_make') }}">Оформить новый заказ</a>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Работа с запросами
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="{{ url_for('bp_query.form_render') }}">Посмотреть меню ресторана</a></li>
        </ul>
    </li>
{% endblock %}
{% block external_user_menu %}
<div class="orders-container">
    <h2 class="mb-4">Мои заказы 🔥</h2>
    {% if render_data['status'] %}
    <table class="orders-table user">
        <thead>
            <tr>
                <th>Номер заказа</th>
                <th>Статус заказа</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for id, status, time in render_data['data'] %}
            <tr class="{% if status != 'Завершен' %}new-order{% endif %}">
                <td><span class="order-number">#{{ id }}</span></td>
                <td>
                    {% set status_info = {
                        'В обработке': {
                            'class': 'status-processing',
                            'message': 'Ожидайте подтверждения заказа. Скоро с вами свяжется сотрудник.'
                        },
                        'Подтвержден': {
                            'class': 'status-confirmed',
                            'message': 'Теперь вы можете предварительно выбрать блюда для вашего банкета. Напоминаем, отмена заказа после внесения аванса возможна только за 2 дня, для этого необходимо связаться с нашими сотрудниками.'
                        },
                        'Полностью оформлен': {
                            'class': 'status-pending',
                            'message': 'Ждем вас в указанную вами дату!'
                        },
                        'Ждет оплаты': {
                            'class': 'status-waiting-payment',
                            'message': 'Оплатите позиции, заказанные вами на месте, чья стоимость не входила в аванс.'
                        },
                        'Завершен': {
                            'class': 'status-completed',
                            'message': 'Спасибо, что выбрали нас!'
                        },
                        'Отменен': {
                            'class': 'status-cancelled',
                            'message': 'Заказ отменен.'
                        }
                    } %}
                    <span class="status {{ status_info[status]['class'] }}">
                        {{ status }}
                    </span>
                </td>
                <td>
                    <span class="status-message">
                        {{ status_info[status]['message'] }}
                        {% if status == 'Полностью оформлен' %}
                            <span> ({{ time }})</span>
                        {% endif %}
                    </span>
                </td>
                {% if status == 'Подтвержден' %}
                    {% if id in problem_orders %}
                        <td><a class="btn-custom btn-success-custom" href="{{ url_for('bp_payment.payment_form', order_id=id) }}">Оплатить выбор</a><br><br>
                         <a class="btn-custom btn-primary-custom" href="{{ url_for('bp_query.form_render', order_id=id) }}">Текущий счет</a><br><br>
                         <form action="{{ url_for('cancel_order_handler', order_id=id) }}" method="post">
                            <button class="btn-custom btn-danger-custom" type="submit">Отменить заказ</button>
                        </form>
                        </td>
                    {% else %}
                        <td><a class="btn-custom btn-success-custom" href="{{ url_for('bp_dish_list.basket_index', order_id=id) }}">Выбрать блюда</a><br><br>
                         <form action="{{ url_for('cancel_order_handler', order_id=id) }}" method="post">
                            <button class="btn-custom btn-danger-custom" type="submit">Отменить заказ</button>
                        </form>
                        </td>
                    {% endif %}
                {% elif status == 'Ждет оплаты' %}
                    <td><a type="submit" class="btn-custom btn-success-custom" href="{{ url_for('bp_payment.payment_form', order_id=id) }}">К оплате</a><br><br>
                        <a class="btn-custom btn-primary-custom" href="{{ url_for('bp_query.form_render', order_id=id) }}">Итоговый счет</a></td>
                {% elif status == 'Полностью оформлен' %}
                    <td><a class="btn-custom btn-primary-custom" href="{{ url_for('bp_query.form_render', order_id=id) }}">Текущий счет</a></td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
        <div class="info-message">
            Заказов пока что нет.
        </div>
    {% endif %}
</div>
{% endblock %}
