{% extends "base.html" %}

{% block breadcrumbs %}
    <li class="breadcrumb-item active">Оплата</li>
{% endblock %}
{% block base_pay %}
<form method="POST" action="">
    <h2 class="section-title menu-title">Оплата заказа № {{ order_id }}</h2><br>
    <h3>Ваш баланс: {{ balance }} рублей</h3>
    <h3>К оплате по заказу: {{ price }} рублей</h3><br>
    {% if message %}
        <div class="error-message">
            {{ message }}
        </div>
    {% else %}
        <button type="submit" class="btn-custom btn-primary-custom" name="buy">Оплатить</button><br><br>
    {% endif %}
</form>
{% endblock %}