{% extends "base.html" %}

{% block breadcrumbs %}
    <li class="breadcrumb-item active">Авторизация</li>
{% endblock %}
{% block base_auth %}
    <h1 align="center">Авторизация</h1><br>

    {% if message %}
        <p align="center" style="color: red;">{{ message }}</p><br>
    {% endif %}

    <h3 align="center"> Введите логин и пароль</h3> <br>
    <div align="center">
      <form method="POST" action="">
          <div>
              <label for="login"> Логин</label>
              <input type="text" class="form-control-custom" id="login" name="login"><br><br>

              <label for="password"> Пароль </label>
              <input type="password" class="form-control-custom" name="password" id="password"><br><br>

              <label class="checkbox-custom" for="is_internal">
                  Сотрудник
                <input type="checkbox" name="is_internal" id="is_internal">
                <span class="checkmark"></span>
              </label><br><br>

              <button type="submit" class="btn-custom btn-primary-custom">Отправить</button>
          </div>
      </form>
    </div>
{% endblock %}